<%- include('../partials/header') %>
<main>
<form action="/cohorts" method="POST">
    <div>
    <label for="logoUrl">Logo Url</label><br>
    <input class="new-input logoUrl" type="text" name="logoUrl" placeholder="e.g. https://www.example.com/some.png">
    </div>
    <div>
    <label for="name">Name</label><br>
    <input class="new-input name" type="text" name="name" placeholder="Flying Funks">
    </div>   
    <div>
    <label for="members">Members</label><br>
    <textarea
      class="members"
      name="members"
      cols="50"
      rows="4"
      placeholder="John Snow, Dannerys, Mekisandre, Arya Stark"
    ></textarea>
    </div>

    <input class="btn btn-primary new-btn new-input" type="submit" value="Submit">
</form>

</main>

<%- include('../partials/footer') %>