<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Super team Picker</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/styles/main.css" rel="stylesheet">
    </head>
    <body>
        <header>
        <h1>Super Team Picker</h1>
            <nav class="navbar">
                <a href="/">Home</a>
                <a href="/cohorts">Cohorts</a>
                <a href="/cohorts/new">New Cohort</a>
            </nav>
        </header>